<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>uploadProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.myupload.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStudentInfoServlet</servlet-name>
    <servlet-class>com.myupload.servlet.AddStudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentInfoServlet</servlet-name>
    <url-pattern>/addStudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateStudentInfoServlet</servlet-name>
    <servlet-class>com.myupload.servlet.UpdateStudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentInfoServlet</servlet-name>
    <url-pattern>/updateStudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateTeacherInfoServlet</servlet-name>
    <servlet-class>com.myupload.servlet.UpdateTeacherInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTeacherInfoServlet</servlet-name>
    <url-pattern>/updateTeacherInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.myupload.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/downloadFile</url-pattern>
  </servlet-mapping>
</web-app>